.header {
  background-color: #495E57;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px;
}


.logoContainer {
  width: "100%";
  color: white;
}

.navBar {
  width: "100%";
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.navLink {
  padding: 4px;
  text-decoration: none;
  list-style-type: none;
}


.links {
  text-decoration: none;
}

.links:link {
  text-decoration: none;
}
